@import '../../../styles/variables';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 8vh;
  border-bottom: 1px solid $secondary-color;

  img {
    width: 180px;
  }

  .button-primary {
    float: right;
  }
}
