@import '../../../styles/variables';

.board {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  width: 450px;
  height: 450px;
  margin: auto;
  padding: 30px;

  .board-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;

    .dice {
      background-color: transparent;
      background-color: $accent-color;
      border: 1px solid $secondary-color;
      cursor: pointer;
      &:hover {
        transition: 0.1s all;
        transform: scale(0.95);
      }
    }

    .board-cell {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      color: $secondary-color;
    }
  }
}
