// Variables
$max-width: 1200px;
$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1219px;

$primary-color: #f5d061;
$secondary-color: #f8f6f6;
$tertiary-color: firebrick;
$accent-color: #2a363b;
