.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  .game {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
  }

  .score {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 10px;
  }
}
