.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  .player-score {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .board {
    display: flex;
    flex-direction: row;
  }
}
