.word-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 500px;

  .input-form {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-direction: row;
  }

  .error {
    color: firebrick;
    text-align: center;
  }
}
