@import '../../../styles/variables';

.words-found {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 260px;
  border: 2px solid $secondary-color;
  flex-direction: column;
  padding: 15px;
  color: $secondary-color;

  .words {
    width: 200px;
    height: 280px;
    text-align: center;
    text-wrap: wrap;
    overflow-y: auto;
  }
}
