@import '../../../styles/variables';

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  height: 112px;
  border: 2px solid $secondary-color;
  flex-direction: column;
  padding: 15px;
  color: $secondary-color;
}
